<!--&lt;!&ndash;<div class="wrapper">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="overlay" *ngIf="true">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="spinner-wrapper">&ndash;&gt;-->
<!--      <mat-spinner></mat-spinner>-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="loaded-content" [class.blurred]="true">&ndash;&gt;-->
<!--&lt;!&ndash;    <ng-content></ng-content>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<div class="loader">
  <span></span>
</div>
