<mat-list
  class="list w-100 p-4">
  <div class="d-flex w-100 justify-content-between align-items-baseline">
    <mat-form-field
      class="w-50"
      appearance="outline">
      <mat-label>Search...</mat-label>
      <input
        matInput
        [disabled]="isCreating || !employeesList.length"
        [(ngModel)]="searchKeyWord"
      >
      <mat-icon matSuffix>search</mat-icon>
      <mat-hint>Search by name...</mat-hint>
    </mat-form-field>
    <button
      mat-stroked-button
      [disabled]="isCreating || searchKeyWord.length > 0"
      (click)="addNewEmployee()"
      class="mw-200px editbtn h-40-px"
    >Create new one</button>
  </div>
  <div *ngIf="employeeForms.length">
    <form
      [formGroup]="findForm(employee._id)"
      *ngFor="let employee of fetchFilteredList()">
      <div
        mat-subheader
        class="d-flex w-100 justify-content-between"
      >
        <div class="d-flex align-items-center w-49">
          <mat-icon
            class="gender"
            [matTooltipDisabled]="!checkEditListById(employee._id)"
            matTooltip="Click to change"
            (click)="onGenderClick(employee)"
            [ngClass]="{
            iconMale: employee.gender === 'm',
            'cursor-pointer': checkEditListById(employee._id),
            iconFemale: employee.gender === 'f'}"
          >wc</mat-icon>
          <mat-form-field appearance="legacy">
            <mat-label>Full legal name</mat-label>
            <input
              matInput
              formControlName="name"
              placeholder="Full legal name"
            >
            <mat-icon
              class="cursor-pointer mr-3"
              matTooltip="Name field is required and should be from 3 to 20 symbols length"
              *ngIf="findForm(employee._id).controls.name.errors"
              matSuffix>error_outline</mat-icon>
            <span
            ></span>
          </mat-form-field>
        </div>
        <div class="d-flex w-49">
          <h6>Contact information</h6>
        </div>
      </div>
      <mat-list-item class="w-100">
        <div class="d-flex w-100 flex-column">
          <div class="d-flex justify-content-between">
            <div class="d-flex flex-column w-50">
              <mat-form-field appearance="legacy">
                <mat-label>Position</mat-label>
                <input
                  matInput
                  formControlName="position"
                  placeholder="Position"
                >
                <mat-icon
                  class="cursor-pointer mr-3"
                  matTooltip="Position field is required and should be from 2 to 15 symbols length"
                  *ngIf="findForm(employee._id).controls.position.errors"
                  matSuffix>error_outline</mat-icon>
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>Salary</mat-label>
                <input
                  matInput
                  type="number"
                  step="50"
                  formControlName="salary"
                  placeholder="Salary"
                >
                <mat-icon
                  class="cursor-pointer mr-3"
                  matTooltip="Salary field is required and should be in range from 500 to 5000000"
                  *ngIf="findForm(employee._id).controls.salary.errors"
                  matSuffix>error_outline</mat-icon>
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>E-mail</mat-label>
                <input
                  matInput
                  formControlName="email"
                  placeholder="E-mail"
                >
                <mat-icon
                  class="cursor-pointer mr-3"
                  matTooltip="E-mail field is required and should be from 6 to 30 symbols length"
                  *ngIf="findForm(employee._id).controls.email.errors"
                  matSuffix>error_outline</mat-icon>
              </mat-form-field>
            </div>
            <div class="d-flex flex-column w-50">
              <mat-form-field appearance="legacy">
                <mat-label>City</mat-label>
                <input
                  matInput
                  formControlName="city"
                  placeholder="City"
                >
                <mat-icon
                  class="cursor-pointer mr-3"
                  matTooltip="City field is required and should be from 3 to 15 symbols length"
                  *ngIf="findForm(employee._id).controls.city.errors"
                  matSuffix>error_outline</mat-icon>
              </mat-form-field>
              <mat-form-field appearance="legacy">
                <mat-label>Street</mat-label>
                <input
                  matInput
                  formControlName="street"
                  placeholder="Street"
                >
                <mat-icon
                  class="cursor-pointer mr-3"
                  matTooltip="Street field is required and should be from 1 to 20 symbols length"
                  *ngIf="findForm(employee._id).controls.position.errors"
                  matSuffix>error_outline</mat-icon>
              </mat-form-field>
              <div class="d-flex">
                <mat-form-field
                  class="w-50"
                  appearance="legacy">
                  <mat-label>House number</mat-label>
                  <input
                    matInput
                    type="number"
                    formControlName="houseN"
                    placeholder="House number"
                  >
                  <mat-icon
                    class="cursor-pointer mr-3"
                    matTooltip="House number field is required and should be in range from 1 to 9999"
                    *ngIf="findForm(employee._id).controls.houseN.errors"
                    matSuffix>error_outline</mat-icon>
                </mat-form-field>
                <mat-form-field
                  class="w-50"
                  appearance="legacy">
                  <mat-label>Additional number</mat-label>
                  <input
                    matInput
                    formControlName="addN"
                    placeholder="Additional number"
                  >
                </mat-form-field>
              </div>

            </div>
          </div>
          <div class="d-flex w-100 justify-content-between">
            <div class="d-flex flex-column">
              <span class="value">Created </span>
              <span class="label mb-2">{{parseDate(employee.addDate)}}</span>
            </div>
            <div class="d-flex h-50">
              <button
                mat-stroked-button
                (click)="toAction(employee, 'edit')"
                class="ml-5 mw-200px editbtn mr-3"
              >{{checkEditListById(employee._id) ? 'Save' : 'Edit'}}</button>
              <button
                color="warn"
                class="mw-200px"
                (click)="toAction(employee, 'delete')"
                mat-stroked-button
              >{{checkEditListById(employee._id) ? 'Cancel' : 'Delete'}}</button>
            </div>
          </div>
        </div>
      </mat-list-item>
      <mat-divider class="mb-2"></mat-divider>
    </form>
  </div>
</mat-list>
